/* .top-wrapper1 {
    background: #EDF6FF 0% 0% no-repeat padding-box;
    background-size: cover;
    padding: 12%;
}

.top-wrapper1 img {
    max-width: 420px;
    max-height: 420px;
    object-fit: cover;
    margin: auto;
}

.flex-container {
    display: flex;  
    flex-direction: row;
    justify-content: center;
}

.top-text{
    margin: auto;
}

.line1 {
    max-width: 133px;
    max-height: 31px;
    text-align: left;
    font:normal normal 900 25px/31px Muli;
    font-weight: 900;
    letter-spacing: 0px;
    color: #19345E;
    opacity: 1;
}

.line2 {
    max-width: 350px;
    max-height: 118;
    text-align: left;
    font: normal normal bold 45px/59px Roboto;
    letter-spacing: 0px;
    opacity: 1;
}

.span1{
    color:#19345E;
}

.span2{
    color: #F47522;
}

.line3{
    max-width: 456px;
    min-height: 80px;
    text-align: left;
    font: normal normal bold 17px/24px Muli;
    letter-spacing: 0px;
    color: #19345E;
    opacity: 1;
}
button {
    width: 230px;
    height: 40px;
    background: #F47522;
    border: #F47522;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50px;
    opacity: 1;
    font: normal normal bold 15px/24px Muli;
    letter-spacing: 0px;
    color: #FFFFFF; 
}

.top-text img{
    max-width: 20px;
    max-width: 20px;
}

.top-wrapper2{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    background-size: cover;
}

.container{
    width: 814px;
    min-height: 110px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 100px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}

.container2 {
    padding: 33px 93px;
    display: flex;  
    flex-direction: row;
    justify-content: center;
}

.container3 {
    margin-left: auto;
    margin-right: auto;
    display: flex;  
    flex-direction: row;
}

.container4 {
    width: 40px;
    height: 40px;
    background: #F47522 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 25px;
    margin: auto;
}

.container4 img {
    height: 25px;
    width: 25px;
    margin: 8px 8px 7px 7px;
}

.container5 {
    margin-left: 10px;
}

.container5 h5 {
    margin: auto;
    text-align: left;
    font: normal normal bold 16px/24px Roboto;
    letter-spacing: 0px;
    color: #19345E;
    opacity: 1;
}

.container5 p {
    margin: auto;
    text-align: left;
    font: normal normal normal 14px/24px Muli;
    letter-spacing: 0px;
    color: #19345E;
    opacity: 1;
}

.title {
    margin: 60px 0;
    background-size: cover;
    text-align: center;
}

.content {
    
    background-repeat: no-repeat;
    background-size: cover;
}

.content-text {
    background-color: #19345E;
    opacity: 0.6;
    padding: 12% 230px;
}

.content-text1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 596px;
    height: 69px;   
}

.content-text h1 {
    text-align: left;
    font: normal normal bold 55px/24px Muli;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-align: center;
}

.content-text2 {
    max-width: 776px;
    max-height: 111px;
    margin-left: auto;
    margin-right: auto;
}

.content-text p {
    text-align: center;
    font: normal normal bold 18px/24px Muli;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.mot {
    background-repeat: no-repeat;
    background-size: contain;
}

.mot-content {
    max-width: 903px;
    min-height: 377px;
    margin: auto;
}

.mot-content2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.mot-content3 {
    margin-top: 30px;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
}

.mot-content4 {
    display: flex;
    flex-direction: column;
}

.mot-content5 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 90px;
}

.img-frm {
    max-width: 255px;
    max-height: 295px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.frame {
    margin-top: 15px;
    width: 205px;
    height: 245px;
    border: 10px solid #F47522;
    opacity: 1;
    position: absolute;
}

.frame2 {
    margin-top: 15px;
    width: 205px;
    height: 245px;
    border: 10px solid #19345E;
    opacity: 1;
    position: absolute;
}

.img-frm img{
    margin-left: 15px;
    max-width: 225px;
    max-height: 265px;
}

.mot-text h1 {
    text-align: center;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0px;
    color: #F47522;
    opacity: 1;
}

.mot-text p {
    text-align: center;
    font: normal normal normal 15px/24px Poppins;
    letter-spacing: 0px;
    color: #19345E;
    opacity: 1;
}

.check-now{
    margin-left: 788px;
    text-align: left;
    font: normal normal 600 16px/24px Muli;
    letter-spacing: 0px;
    color: #19345E;
    opacity: 1;
}

.Latest-Blogs {
    margin-top: 60px;
}

.lb-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lb-content1 {
    margin-left: 30px;
    margin-right: 30px;
}

.lb-content1 img{
    width: 285px;
    height: 207px;
}

.lb-text1 {
    width: 285px;
    height: 54px;
}

.lb-text1 h1 {
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    letter-spacing: 0px;
    color: #19345E;
    opacity: 1;
}

.lb-text2 p{
    text-align: left;
    font: normal normal normal 14px/24px Poppins;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.date {
    margin-left: 110px;
}

.lb-text3 {
    width: 275px;
    height: 94px;
}

.lb-text3 p {
    text-align: left;
    font: normal normal normal 14px/24px Poppins;
    letter-spacing: 0px;
    color: #19345E;
    opacity: 1;
}

.lb-text4{
    margin-left: 210px;
}

.lb-text4 p{
    text-decoration: underline;
    font: normal normal normal 14px/24px Poppins;
    letter-spacing: 0px;
    color: #19345E;
    opacity: 1;
}

@media all and (max-width: 1233px) {
    .flex-container {
      flex-direction: column;
    }

    .line1 {
        font-size: 24px;
    }

    .line2 {
        font-size: 32px;
    }

    .line3 {
        font-size: 20px;
    }

    button {
        font-size: 20px;

    }
    .content-text {
        padding: 20px;
    }

    .content-text1 h1 {
        font-size: 20px;
    }

    .content-text2 p{
        font-size: 14px;
    }

    .check-now {
        margin-left: 0px;
    }

    .lb-content{
        flex-direction: column;
    }
    
    
}

@media all and (max-width: 670px) {

    button {
        margin: auto;
    }
    .container {
        display: flex;
        width: 100%;
    }
    .container2 {
        flex-direction: column;
    }

    .content-text {
        padding: 10px;
    }

    .content-text1 h1 {
        font-size: 18px;
    }

    .content-text2 p{
        font-size: 14px;
        text-align: justify;
    }

    .mot-content2 {
        flex-direction: column;
    }

    .mot-content3 {
        margin-right: 0px;
        flex-direction: row;
        position: relative;
    }

    .mot-content4 {
        margin-top: 15px;
        margin-bottom: 15px;
        flex-direction: row;
        position: relative;
    }

    .mot-content5 {
        margin-left: 0px;
        flex-direction: row;
        position: relative;
    }

    .mot-text {
        margin-top: 25px;
        margin-left: 20px;
    }

    .mot-text h1{
        text-align: left;
    }

    .check-now {
        margin-left: 0px;
    }
} */
